<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h3 class="card-title ">Help and information</h3>
                        <p class="card-category"> Source: Google.com</p>
                    </div>
                    <div class="card-body">


                        <table class="table table-hover">
                            <thead class="text-warning">
                            <th>Heading</th>
                            <th>Info</th>
                            </thead>
                            <tbody>
                            <tr>
                                <td><h4>Cyclone information and resources</h4>
                                    <small>Tamil Nadu State Disaster Management</small></td>
                                <td><a href="https://tnsdma.tn.gov.in/"><h5>tnsdma.tn.gov.in</h5></a></td>
                            </tr>
                            <tr>
                                <td><h4>Cyclone helplines on Twitter</h4>
                                    <small>Chief Minister of Tamil Nadu</small></td>
                                <td><a href="https://twitter.com/CMOTamilNadu/status/1331244842379341828"><h5>
                                    twitter.com/CMOTamilNadu</h5></a></td>
                            </tr>
                            <tr>
                                <td><h4>Cyclone helplines for Greater Chennai Corporation</h4>
                                    <small>Greater Chennai Corporation</small></td>
                                <td><a href="tel:04425384530"><h5>
                                    044 2538 4530</h5></a><br>
                                    <a href="tel:04425384540"><h5>
                                        044 2538 4540</h5></a></td>
                            </tr>
                            <tr>
                                <td><h4>State helpline</h4>
                                    <small>Tamil Nadu State Disaster Management</small></td>
                                <td><a href="tel:1070"><h5>
                                    1070</h5></a>
                            </tr>
                            <tr>
                                <td><h4>District helpline</h4>
                                    <small>Tamil Nadu State Disaster Management</small></td>
                                <td><a href="tel:1077"><h5>
                                    1077</h5></a>
                            </tr>
                            </tbody>
                        </table>
                        <a href="https://twitter.com/chennaicorp/status/1331098159422996480">Source: Greater Chennai Corporation, Tamil Nadu State Disaster Management</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
