<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h3 class="card-title ">Tamil Nadu Emergency Contact Numbers</h3>
                        <p class="card-category"> Source: tnsdma.tn.gov.in</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                <th>Sl.No</th>
                                <th>District Name</th>
                                <th>Website Link</th>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Ariyalur</td>
                                    <td>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://ariyalur.nic.in/contact-directory/" target="_blank">Contact -
                                            I</a>
                                        <br>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://ariyalur.nic.in/disaster-management/" target="_blank">Contact -
                                            II</a>
                                        <br>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://ariyalur.nic.in/helpline/" target="_blank">Contact - III</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Chennai</td>
                                    <td>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://chennai.nic.in/contact-directory-2/" target="_blank">Contact -
                                            I</a>
                                        <br>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://chennai.nic.in/disaster-management/" target="_blank">Contact -
                                            II</a>
                                        <br>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://chennai.nic.in/helpline/" target="_blank">Contact - III</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Coimbatore</td>
                                    <td>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="http://www.coimbatore.tn.nic.in/contacts.html" target="_blank">Contact
                                            - I</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Cuddalore</td>
                                    <td>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="http://cuddalore.tn.nic.in/phone_numbers/phone.htm" target="_blank">Contact
                                            - I </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Dharmapuri</td>
                                    <td>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://dharmapuri.nic.in/contact-directory/" target="_blank">Contact -
                                            I</a>
                                        <br>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://dharmapuri.nic.in/disaster-management/" target="_blank">Contact
                                            - II</a>
                                        <br>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://dharmapuri.nic.in/helpline/" target="_blank">Contact - III </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>Dindigul</td>
                                    <td>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://dindigul.nic.in/contact-directory/" target="_blank">Contact -
                                            I</a>
                                        <br>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://dindigul.nic.in/disaster-management-contacts/" target="_blank">Contact
                                            - II</a>
                                        <br>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://dindigul.nic.in/helpline/" target="_blank">Contact - III</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>Erode</td>
                                    <td>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="http://www.erode.tn.nic.in/phone.htm" target="_blank">Contact - I</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>Kancheepuram</td>
                                    <td>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://kancheepuram.nic.in/contact-directory/" target="_blank">Contact
                                            - I</a>
                                        <br>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://kancheepuram.nic.in/disaster-management/" target="_blank">Contact
                                            - II</a>
                                        <br>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://kancheepuram.nic.in/helpline/" target="_blank">Contact -
                                            III</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>Kanniyakumari</td>
                                    <td>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://kanniyakumari.nic.in/contactdirectory/" target="_blank">Contact
                                            - I</a>
                                        <br>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://kanniyakumari.nic.in/disaster-management/" target="_blank">Contact
                                            - II</a>
                                        <br>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://kanniyakumari.nic.in/helpline/" target="_blank">Contact -
                                            III</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>Karur</td>
                                    <td>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://karur.nic.in/contact-directory/" target="_blank">Contact -
                                            I</a>
                                        <br>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://karur.nic.in/disaster-management/" target="_blank">Contact -
                                            II</a>
                                        <br>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://karur.nic.in/helpline/" target="_blank">Contact - III</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>11</td>
                                    <td>Krishnagiri</td>
                                    <td>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://krishnagiri.nic.in/directories/contact-directory/"
                                           target="_blank">Contact - I</a>
                                        <br>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://krishnagiri.nic.in/directories/disaster-management/"
                                           target="_blank">Contact - II</a>
                                        <br>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://krishnagiri.nic.in/directories/help-line/" target="_blank">Contact
                                            - III</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>12</td>
                                    <td>Madurai</td>
                                    <td>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="http://www.madurai.tn.nic.in/contacts.html" target="_blank">Contact -
                                            I</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>13</td>
                                    <td>Nagapattinam</td>
                                    <td>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://www.nagapattinam.nic.in/contact-directory/" target="_blank">Contact
                                            - I</a>
                                        <br>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://www.nagapattinam.nic.in/about-district/administrative-setup/revenue-2/"
                                           target="_blank">Contact - II</a>
                                        <br>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://www.nagapattinam.nic.in/helpline/" target="_blank">Contact -
                                            III</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>14</td>
                                    <td>Namakkal</td>
                                    <td>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://namakkal.nic.in/contact-directory/" target="_blank">Contact -
                                            I</a>
                                        <br>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://namakkal.nic.in/disaster-management/" target="_blank">Contact -
                                            II</a>
                                        <br>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://namakkal.nic.in/helpline/" target="_blank">Contact - III</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>15</td>
                                    <td>Nilgiris</td>
                                    <td>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://nilgiris.nic.in/contact-directory/" target="_blank">Contact -
                                            I</a>
                                        <br>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://nilgiris.nic.in/disaster-management/south-west-monsoon-preparedness-activities/"
                                           target="_blank">Contact - II</a>
                                        <br>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://nilgiris.nic.in/helpline/" target="_blank">Contact - III</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>16</td>
                                    <td>Perambalur</td>
                                    <td>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://perambalur.nic.in/contact-directory/" target="_blank">Contact -
                                            I</a>
                                        <br>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://perambalur.nic.in/disaster-management/" target="_blank">Contact
                                            - II</a>
                                        <br>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://perambalur.nic.in/helpline/" target="_blank">Contact - III</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>17</td>
                                    <td>Pudukkottai</td>
                                    <td>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://pudukkottai.nic.in/contact-directory/" target="_blank">Contact
                                            - I</a>
                                        <br>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://pudukkottai.nic.in/disaster-management/" target="_blank">Contact
                                            - II</a>
                                        <br>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://pudukkottai.nic.in/helpline/" target="_blank">Contact - III</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>18</td>
                                    <td>Ramanathapuram</td>
                                    <td>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://ramanathapuram.nic.in/contact-directory/" target="_blank">Contact
                                            - I</a>
                                        <br>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://ramanathapuram.nic.in/disaster-management/" target="_blank">Contact
                                            - II</a>
                                        <br>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://ramanathapuram.nic.in/help-line/" target="_blank">Contact -
                                            III</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>19</td>
                                    <td>Salem</td>
                                    <td>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://salem.nic.in/contact-directory/" target="_blank">Contact -
                                            I</a>
                                        <br>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://salem.nic.in/disaster-management-2/" target="_blank">Contact -
                                            II</a>
                                        <br>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://salem.nic.in/helpline/" target="_blank">Contact - III</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>20</td>
                                    <td>Sivagangai</td>
                                    <td>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://sivaganga.nic.in/directories/contact-directory/"
                                           target="_blank">Contact - I</a>
                                        <br>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://sivaganga.nic.in/directories/disaster-management/"
                                           target="_blank">Contact - II</a>
                                        <br>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://sivaganga.nic.in/directories/helpline/" target="_blank">Contact
                                            - III</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>21</td>
                                    <td>Thanjavur</td>
                                    <td>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://thanjavur.nic.in/contact-directory/" target="_blank">Contact -
                                            I</a>
                                        <br>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://thanjavur.nic.in/helpline/" target="_blank">Contact - II</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>22</td>
                                    <td>Theni</td>
                                    <td>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://theni.nic.in/contact_directory/" target="_blank">Contact -
                                            I</a>
                                        <br>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://theni.nic.in/disaster-management/" target="_blank">Contact -
                                            II</a>
                                        <br>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://theni.nic.in/helpline/" target="_blank">Contact - III</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>23</td>
                                    <td>Tiruvallur</td>
                                    <td>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://tiruvallur.nic.in/contact-directory/" target="_blank">Contact -
                                            I</a>
                                        <br>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://tiruvallur.nic.in/disaster-management/" target="_blank">Contact
                                            - II</a>
                                        <br>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://tiruvallur.nic.in/helpline/" target="_blank">Contact - III</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>24</td>
                                    <td>Tiruvannamalai</td>
                                    <td>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://tiruvannamalai.nic.in/contact-directory/" target="_blank">Contact
                                            - I</a>
                                        <br>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://tiruvannamalai.nic.in/disaster-management/" target="_blank">Contact
                                            - II</a>
                                        <br>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://tiruvannamalai.nic.in/helpline/" target="_blank">Contact -
                                            III</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>25</td>
                                    <td>Tiruvarur</td>
                                    <td>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://tiruvarur.nic.in/contact-directory/" target="_blank">Contact -
                                            I</a>
                                        <br>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://tiruvarur.nic.in/disaster-management/" target="_blank">Contact
                                            - II</a>
                                        <br>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://tiruvarur.nic.in/helpline/" target="_blank">Contact - III</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>26</td>
                                    <td>Thoothukudi</td>
                                    <td>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://thoothukudi.nic.in/contact-directory/" target="_blank">Contact
                                            - I</a>
                                        <br>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://thoothukudi.nic.in/disaster-management/" target="_blank">Contact
                                            - II</a>
                                        <br>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://thoothukudi.nic.in/helpline-numbers/" target="_blank">Contact -
                                            III</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>27</td>
                                    <td>Tiruchirapalli</td>
                                    <td>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://tiruchirappalli.nic.in/contact-directory/" target="_blank">Contact
                                            - I</a>
                                        <br>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://tiruchirappalli.nic.in/disaster-management/" target="_blank">Contact
                                            - II</a>
                                        <br>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://tiruchirappalli.nic.in/helpline/" target="_blank">Contact -
                                            III</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>28</td>
                                    <td>Tirunelveli</td>
                                    <td>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://tirunelveli.nic.in/contact-directory/" target="_blank">Contact
                                            - I</a>
                                        <br>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://tirunelveli.nic.in/helpline/" target="_blank">Contact - II</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>29</td>
                                    <td>Tiruppur</td>
                                    <td>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://tiruppur.nic.in/contact-directory/contact-directory/"
                                           target="_blank">Contact - I</a>
                                        <br>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://tiruppur.nic.in/disaster-management/" target="_blank">Contact -
                                            II</a>
                                        <br>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://tiruppur.nic.in/helpline/" target="_blank">Contact - III</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>30</td>
                                    <td>Vellore</td>
                                    <td>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://vellore.nic.in/contact-directory/" target="_blank">Contact -
                                            I</a>
                                        <br>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://vellore.nic.in/disaster-management-contact-details/"
                                           target="_blank">Contact - II</a>
                                        <br>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://vellore.nic.in/helpline/" target="_blank">Contact - III</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>31</td>
                                    <td>Villupuram</td>
                                    <td>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://viluppuram.nic.in/home1/directory/contact-directory/"
                                           target="_blank">Contact - I</a>
                                        <br>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://viluppuram.nic.in/disaster-management-2017/" target="_blank">Contact
                                            - II</a>
                                        <br>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="https://viluppuram.nic.in/home1/directory/helpline/" target="_blank">Contact
                                            - III</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>32</td>
                                    <td>Virudhunagar</td>
                                    <td>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="http://virudhunagar.tn.nic.in/" target="_blank">Contact - I</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>33</td>
                                    <td>Greater Chennai Corporation</td>
                                    <td>
                                        <a style="color: #428bca; text-decoration: underline;"
                                           href="http://www.chennaicorporation.gov.in/about-chennai-corporation/PublicCMSPages.do?do=listWhoswho"
                                           target="_blank">Contact - I</a>
                                    </td>
                                </tr>


                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
